# Lab 1 - SQL

*Objective:* you will learn to write SQL queries and practice using
[`SQLite`]() and [`Jupyter`]()

## Background

A database for registration of courses, students, and course results
has been developed. The purpose was not to develop a new Ladok
database (Swedish university student database), so everything has been
simplified as much as possible. A course has a course code (e.g.,
EDA216), a name (e.g., Database Technology), a level (G1, G2 or A) and
a number of credits (e.g., 7.5). Students have a social security
number (personnummer) and a name. When a student has passed a course
his/her grade (3, 4 or 5) is registered in the database.

We started by developing an E/R model of the system (E/R stands for
Entity-Relationship). This model is developed in the same way as when
you develop the static model in object-oriented modeling, and you draw
the same kind of UML diagrams. You may instead use traditional E/R
notation, as in the text book. However, diagrams in the traditional
notation take more paper space, and the notation is not fully
standardized, so we will only use the UML notation. The model looks
like this in the different notations (the UML diagram is at the top):

![There should be a image here](lab1.png)

The E/R model is then converted into a database schema in the
relational model. We will later show how the conversion is performed;
for now we just show the final results. The entity sets and the
relationship have been converted into the following relations (the
primary key of each relation is italicized):

 + Students(*ssn*, first_name, last_name)
 + Courses(*course_code*, course_name, level, credits)
 + TakenCourses(*ssn, course_code*, grade)

Examples of instances of the relations:

~~~ {.text}
ssn           first_name   last_name
861103–2438   Bo           Ek
911212–1746   Eva          Alm
950829–1848   Anna         Nyström
...           ...          ...

course_code   course_name                   level    credits
EDA016        Programmeringsteknik          G1       7.5
EDAA01        Programmeringsteknik - FK     G1       7.5
EDA230        Optimerande kompilatorer      A        7.5
...           ...                           ...      ...

ssn           course_code   grade
861103–2438   EDA016        4
861103–2438   EDAA01        3
911212–1746   EDA016        3
...           ...           ...
~~~

The tables have been created with the following SQL statements:

~~~ {.sql}
CREATE TABLE students (
    ssn          char(11),
    first_name   varchar(20) not null,
    last_name    varchar(20) not null,
    primary key  (ssn)
);

CREATE TABLE courses (
    course_code   char(6),
    course_name   varchar(70) not null,
    level         char(2),
    credits       double not null check (credits > 0),
    primary key   (course_code)
);

CREATE TABLE taken_courses (
    ssn           char(11),
    course_code   char(6),
    grade         integer not null check (grade >= 3 and grade <= 5),
    primary key   (ssn, course_code),
    foreign key   (ssn) references students(ssn),
    foreign key   (course_code) references courses(course_code)
);
~~~

All courses that were offered at the Computer Science and Engineering
program at LTH during the academic year 2013/14 are in the table
Courses. Also, the database has been filled with invented data about
students and what courses they have taken. SQL statements like the
following have been used to insert the data:

~~~ {.sql}
INSERT INTO students      VALUES (’861103-2438’, ’Bo’, ’Ek’);
INSERT INTO courses       VALUES (’EDA016’, ’Programmeringsteknik’, ’G1’, 7.5);
INSERT INTO taken_courses VALUES (’861103-2438’, ’EDA016’, 4);
~~~

## Assignments

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///lab1.db

'Connected: None@lab1.db'

The tables `students`, `courses` and `taken_courses` already exist in
your database. If you change the contents of the tables, you can
always recreate the tables with the following command (at the mysql
prompt):

~~~ {.sh}
sqlite3 lab1.db < setup-lab1-db.sql
~~~

After most of the questions there is a number in brackets. This is the
number of rows generated by the question. For instance, [72] after
question a) means that there are 72 students in the database.

a) What are the names (first name, last name) of all the students?
   [72]

In [3]:
%%sql 
select first_name, last_name
from students

Done.

[('Anna', 'Johansson'),
 ('Anna', 'Johansson'),
 ('Eva', 'Alm'),
 ('Eva', 'Nilsson'),
 ('Elaine', 'Robertson'),
 ('Maria', 'Nordman'),
 ('Helena', 'Troberg'),
 ('Lotta', 'Emanuelsson'),
 ('Anna', 'Nyström'),
 ('Maria', 'Andersson'),
 ('Marie', 'Persson'),
 ('Märit', 'Aspegren'),
 ('Ylva', 'Jacobsson'),
 ('Frida', 'Weidel'),
 ('Caroline', 'Olsson'),
 ('Karolin', 'Ek'),
 ('Eva', 'Hjort'),
 ('Sofia', 'Kjellberg'),
 ('Tina', 'Lööf'),
 ('Lisa', 'Berg'),
 ('Lotta', 'Bergman'),
 ('Susanne', 'Dahl'),
 ('Birgit', 'Ewesson'),
 ('Ulrika', 'Jonsson'),
 ('Jenny', 'Lundin'),
 ('Karin', 'Östberg'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Erik', 'Andersson'),
 ('Erik', 'Andersson'),
 ('Filip', 'Gustavsson'),
 ('Niklas', 'Andersson'),
 ('David', 'Carlsson'),
 ('Tobias', 'Enberg'),
 ('Johan', 'Lind'),
 ('Magnus', 'Pettersson'),
 ('Filip', 'Persson'),
 ('Ola', 'Nilsson'),
 ('Jakob', 'Malmberg'),
 ('Henrik', 'Berg'),
 ('John', 'Lind'),
 ('Patrik', 'Lundh'),
 ('Mikael', 'Nilsson'),
 ('Joakim', 'Nilsson'),
 ('Conny', 'Modig'),
 ('Christian', 'Wallman'),
 ('Magnus', 'Strömgren'),
 ('Daniel', 'Ahlman'),
 ('Lars', 'Molin'),
 ('Magnus', 'Nilsson'),
 ('Anders', 'Olsson'),
 ('Martin', 'Alm'),
 ('Håkan', 'Mossgren'),
 ('Fredrik', 'Ryd'),
 ('Mats', 'Wikström'),
 ('Anders', 'Magnusson'),
 ('Andreas', 'Molin'),
 ('Johan', 'Brattberg'),
 ('Johan', 'Olsson'),
 ('Jonathan', 'Jönsson'),
 ('Magnus', 'Hultgren'),
 ('Axel', 'Nord'),
 ('Henrik', 'Hult'),
 ('Joakim', 'Hall'),
 ('Henrik', 'Gustavsson'),
 ('Torbjörn', 'Modig'),
 ('Daniel', 'Axelsson'),
 ('Per-Erik', 'Pettersson'),
 ('Roger', 'Brorsson'),
 ('Patrik', 'Ohlsson'),
 ('Peter', 'Solberg')]

b) Same as question a) but produce a sorted listing. Sort first by
   last name and then by first name.

In [5]:
%%sql
select first_name, last_name
from students
order by last_name, first_name

Done.

[('Daniel', 'Ahlman'),
 ('Eva', 'Alm'),
 ('Martin', 'Alm'),
 ('Erik', 'Andersson'),
 ('Erik', 'Andersson'),
 ('Maria', 'Andersson'),
 ('Niklas', 'Andersson'),
 ('Märit', 'Aspegren'),
 ('Daniel', 'Axelsson'),
 ('Henrik', 'Berg'),
 ('Lisa', 'Berg'),
 ('Lotta', 'Bergman'),
 ('Johan', 'Brattberg'),
 ('Roger', 'Brorsson'),
 ('David', 'Carlsson'),
 ('Susanne', 'Dahl'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Bo', 'Ek'),
 ('Karolin', 'Ek'),
 ('Lotta', 'Emanuelsson'),
 ('Tobias', 'Enberg'),
 ('Birgit', 'Ewesson'),
 ('Filip', 'Gustavsson'),
 ('Henrik', 'Gustavsson'),
 ('Joakim', 'Hall'),
 ('Eva', 'Hjort'),
 ('Henrik', 'Hult'),
 ('Magnus', 'Hultgren'),
 ('Ylva', 'Jacobsson'),
 ('Anna', 'Johansson'),
 ('Anna', 'Johansson'),
 ('Ulrika', 'Jonsson'),
 ('Jonathan', 'Jönsson'),
 ('Sofia', 'Kjellberg'),
 ('Johan', 'Lind'),
 ('John', 'Lind'),
 ('Patrik', 'Lundh'),
 ('Jenny', 'Lundin'),
 ('Tina', 'Lööf'),
 ('Anders', 'Magnusson'),
 ('Jakob', 'Malmberg'),
 ('Conny', 'Modig'),
 ('Torbjörn', 'Modig'),
 ('Andreas', 'Molin'),
 ('Lars', 'Molin'),
 ('Håkan', 'Mossgren'),
 ('Eva', 'Nilsson'),
 ('Joakim', 'Nilsson'),
 ('Magnus', 'Nilsson'),
 ('Mikael', 'Nilsson'),
 ('Ola', 'Nilsson'),
 ('Axel', 'Nord'),
 ('Maria', 'Nordman'),
 ('Anna', 'Nyström'),
 ('Patrik', 'Ohlsson'),
 ('Anders', 'Olsson'),
 ('Caroline', 'Olsson'),
 ('Johan', 'Olsson'),
 ('Filip', 'Persson'),
 ('Marie', 'Persson'),
 ('Magnus', 'Pettersson'),
 ('Per-Erik', 'Pettersson'),
 ('Elaine', 'Robertson'),
 ('Fredrik', 'Ryd'),
 ('Peter', 'Solberg'),
 ('Magnus', 'Strömgren'),
 ('Helena', 'Troberg'),
 ('Christian', 'Wallman'),
 ('Frida', 'Weidel'),
 ('Mats', 'Wikström'),
 ('Karin', 'Östberg')]

c) Which students were born in 1985? [4]

In [20]:
%%sql
select first_name, last_name, ssn
from students
where ssn like '85%'

Done.

[('Ulrika', 'Jonsson', '850706-2762'),
 ('Bo', 'Ek', '850819-2139'),
 ('Filip', 'Persson', '850517-2597'),
 ('Henrik', 'Berg', '850208-1213')]

d) What are the names of the female students, and which are their
   social security numbers? The next-to-last digit in the social
   security number is even for females. The SQLite function
   `substr(str,m,n)` returns `n` characters from the string `str`,
   starting at character `m`. [26]

In [29]:
%%sql
select first_name, last_name, ssn
from students
where substr(ssn,10,1)%2 like 0

Done.

[('Anna', 'Johansson', '950705-2308'),
 ('Anna', 'Johansson', '930702-3582'),
 ('Eva', 'Alm', '911212-1746'),
 ('Eva', 'Nilsson', '910707-3787'),
 ('Elaine', 'Robertson', '931213-2824'),
 ('Maria', 'Nordman', '951122-1048'),
 ('Helena', 'Troberg', '910308-1826'),
 ('Lotta', 'Emanuelsson', '941003-1225'),
 ('Anna', 'Nyström', '950829-1848'),
 ('Maria', 'Andersson', '860819-2864'),
 ('Marie', 'Persson', '870915-2742'),
 ('Märit', 'Aspegren', '900227-2369'),
 ('Ylva', 'Jacobsson', '931208-3605'),
 ('Frida', 'Weidel', '951004-2346'),
 ('Caroline', 'Olsson', '870909-3367'),
 ('Karolin', 'Ek', '910915-2068'),
 ('Eva', 'Hjort', '860206-1065'),
 ('Sofia', 'Kjellberg', '900528-1540'),
 ('Tina', 'Lööf', '930502-2040'),
 ('Lisa', 'Berg', '950317-3520'),
 ('Lotta', 'Bergman', '891021-1287'),
 ('Susanne', 'Dahl', '880620-2564'),
 ('Birgit', 'Ewesson', '940802-3861'),
 ('Ulrika', 'Jonsson', '850706-2762'),
 ('Jenny', 'Lundin', '890622-1928'),
 ('Karin', 'Östberg', '910226-3409')]

e) How many students are registered in the database?

In [31]:
%%sql
select count(*)
from students

Done.

[(72,)]

f) Which courses are offered by the department of Mathematics (course
   codes `FMAxxx`)? [22]

In [34]:
%%sql
select course_name
from courses
where course_code like 'FMA%'

Done.

[('Kontinuerliga system',),
 ('Optimering',),
 ('Diskret matematik',),
 ('Matematiska strukturer',),
 ('Matristeori',),
 ('Matristeori, projektdel',),
 ('Geometri',),
 ('Olinjära dynamiska system',),
 ('Olinjära dynamiska system, projektdel',),
 ('Bildanalys',),
 ('Bildanalys, projektdel',),
 ('Variationskalkyl',),
 ('Linjär och kombinatorisk optimering',),
 ('Datorseende',),
 ('Datorseende, projektdel',),
 ('Linjär algebra',),
 ('Flerdimensionell analys',),
 ('Endimensionell analys',),
 ('Matematik - Funktionsteori',),
 ('Matematik - System och transformer',),
 ('Tillämpad matematik - Linjära system',),
 ('Algebraiska strukturer',)]

g) Which courses give more than 7.5 credits? [16]

In [42]:
%%sql
select course_name, credits
from courses
where credits >= 7.5

Done.

[('Programmeringsteknik', 7.5),
 ('C++ - programmering', 7.5),
 ('Nätverksprogrammering', 7.5),
 ('Tillämpad artificiell intelligens', 7.5),
 ('Kompilatorteknik', 7.5),
 ('Databasteknik', 7.5),
 ('Datorgrafik', 7.5),
 ('Optimerande kompilatorer', 7.5),
 ('Coachning av programvaruteam', 9.0),
 ('Konstruktion av inbyggda system, fördjupningskurs', 7.5),
 ('Programmeringsteknik - fördjupningskurs', 7.5),
 ('Datorer i system', 8.0),
 ('Objektorienterad modellering och diskreta strukturer', 7.5),
 ('Constraint-programmering', 7.5),
 ('Konfigurationshantering', 7.5),
 ('Konstruktion av inbyggda system', 7.5),
 ('Språkteknologi', 7.5),
 ('Fotorealistisk datorgrafik', 7.5),
 ('Högpresterande datorgrafik', 7.5),
 ('Funktionsprogrammering', 7.5),
 ('Intelligenta system - projekt', 7.5),
 ('Avancerade algoritmer', 7.5),
 ('Språkteknologi: Projekt', 7.5),
 ('Kodningsteknik', 7.5),
 ('Kryptoteknik', 7.5),
 ('Matematisk kryptologi', 7.5),
 ('Sensorteknik', 7.5),
 ('Medicinsk mätteknik', 7.5),
 ('Mikrosensorer', 7.5),
 ('EMC, störningar och störningsbegränsning', 7.5),
 ('Datorbaserade mätsystem', 7.5),
 ('Ultraljudsfysik och teknik', 7.5),
 ('Projekt i industriell elektroteknik och automation', 7.5),
 ('Tillämpad mekatronik', 10.0),
 ('Mekatronik, industriell produktframtagning', 10.0),
 ('Digitalteknik', 9.0),
 ('Datasäkerhet', 7.5),
 ('OFDM för bredbandskommunikation', 7.5),
 ('Digitala bilder – kompression', 9.0),
 ('Datorarkitektur', 7.5),
 ('Digitala strukturer på kisel', 7.5),
 ('Digitala och analoga projekt', 7.5),
 ('Multipelantennsystem', 7.5),
 ('Internet inuti', 7.5),
 ('Projekt i elektro- och informationsteknik', 7.5),
 ('Informationsteori', 7.5),
 ('Avancerad datasäkerhet', 7.5),
 ('Elektromagnetisk fältteori', 9.0),
 ('Signalbehandling i multimedia', 7.5),
 ('Elektronik', 8.0),
 ('Patent och annan immaterialrätt', 7.5),
 ('Grundläggande radioteknik', 7.5),
 ('Signalbehandling - design och implementering', 7.5),
 ('Medicinsk signalbehandling', 7.5),
 ('Kanalmodellering för trådlös kommunikation', 7.5),
 ('Radiosystem', 7.5),
 ('Digital IC-konstruktion', 7.5),
 ('IC-projekt 1', 7.5),
 ('IC-projekt 2', 7.5),
 ('DSP-design', 7.5),
 ('Integrerade A/D och D/A omvandlare', 7.5),
 ('Avancerade A/D och D/A omvandlare', 7.5),
 ('Modern elektronik', 7.5),
 ('Algoritmer i signalprocessorer - projektkurs', 7.5),
 ('Simulering', 7.5),
 ('Kravhantering', 7.5),
 ('Programvarutestning', 7.5),
 ('Internetprotokoll', 7.5),
 ('Avancerad telekommunikation', 7.5),
 ('Programvaruutveckling för stora system', 7.5),
 ('Digital kommunikation', 7.5),
 ('Digital kommunikation, fortsättningskurs', 7.5),
 ('Adaptiv signalbehandling', 7.5),
 ('Optimal signalbehandling', 7.5),
 ('Moderna trådlösa system - LTE och dess efterföljare', 7.5),
 ('Introduktionskurs i kinesiska för civilingenjörer', 15.0),
 ('Introduktionskurs i kinesiska för civilingenjörer, del 2', 15.0),
 ('Medicinsk optik', 7.5),
 ('Multispektral avbildning', 7.5),
 ('Fysik', 11.0),
 ('Kontinuerliga system', 7.5),
 ('Endimensionell analys', 15.0),
 ('Algebraiska strukturer', 7.5),
 ('Energisystemanalys: Förnybara energikällor', 7.5),
 ('Energisystemanalys: energi, miljö och naturresurser', 7.5),
 ('Teknisk miljövetenskap', 7.5),
 ('Simuleringsverktyg', 7.5),
 ('Avancerad kurs i numeriska algoritmer med Python/SciPy', 7.5),
 ('Matematisk statistik, allmän kurs', 9.0),
 ('Matematisk statistik, tidsserieanalys', 7.5),
 ('Försöksplanering', 7.5),
 ('Monte Carlo-baserade statistiska metoder', 7.5),
 ('Olinjära tidsserier', 7.5),
 ('Statistisk modellering av extremvärden', 7.5),
 ('Stationära stokastiska processer', 7.5),
 ('Markovprocesser', 7.5),
 ('Spatial statistik med bildanalys', 7.5),
 ('Linjär och logistisk regression', 7.5),
 ('Stationär och icke-stationär spektralanalys', 7.5),
 ('Reglerteknik, allmän kurs', 7.5),
 ('Systemidentifiering', 7.5),
 ('Projekt i reglerteknik', 7.5),
 ('Realtidssystem', 10.0),
 ('Olinjär reglering och servosystem', 7.5),
 ('Flervariabel reglering', 7.5),
 ('Prediktiv reglering', 7.5),
 ('Franska för tekniker: språk, kultur och samhällsliv, grundkurs', 7.5),
 ('Engelska för tekniker', 7.5),
 ('Tyska för tekniker', 7.5),
 ('Entreprenörskap och affärsutveckling', 7.5),
 ('Juridik för tekniker', 7.5),
 ('Kinesiska för tekniker', 7.5),
 ('Japanska för tekniker', 15.0),
 ('Industriellt miljöarbete', 7.5),
 ('Arbete-människa-teknik, projekt', 7.5),
 ('Virtual Reality i teori och praktik', 7.5),
 ('Användbarhetsutvärdering', 7.5),
 ('Avancerad interaktionsdesign', 7.5),
 ('Interaktion 1: Neuromodellering, kognitiv robotik och agenter', 7.5),
 ('Interaktion 2: Virtualitet och kognitiv modellering', 7.5),
 ('Interaktionsdesign', 7.5),
 ('Automation', 7.5),
 ('Automation för komplexa system', 7.5),
 ('Industriell ekonomi, allmän kurs', 9.0),
 ('Tillämpad robotteknik', 7.5),
 ('Teknikstödd kommunikation', 7.5),
 ('Rehabiliteringsteknik', 7.5),
 ('Rehabiliteringsteknik och design', 7.5)]

h) How may courses are there on each level `G1`, `G2` and `A`?

In [50]:
%%sql
select count(*)
from courses
where level like 'G1'
union 
select count(*)
from courses
where level like 'G2'
union
select count(*)
from courses
where level like 'A'

Done.

[(31,), (60,), (87,)]

i) Which courses (course codes only) have been taken by the student
   with social security number 910101–1234? [35]

In [55]:
%%sql
select course_code
from taken_courses
where ssn = '910101-1234'

Done.

[('EDA070',),
 ('EDA385',),
 ('EDAA25',),
 ('EDAF05',),
 ('EEMN10',),
 ('EIT020',),
 ('EIT060',),
 ('EITF40',),
 ('EITN40',),
 ('EITN50',),
 ('ESS050',),
 ('ETIF10',),
 ('ETIF15',),
 ('ETIN35',),
 ('ETS052',),
 ('ETS075',),
 ('ETS200',),
 ('ETSA01',),
 ('EXTA10',),
 ('EXTA35',),
 ('FAFF20',),
 ('FAFF25',),
 ('FMA145',),
 ('FMA420',),
 ('FMAA01',),
 ('FMAF05',),
 ('FMS012',),
 ('FMSF15',),
 ('FMSN30',),
 ('FMSN35',),
 ('FRTN10',),
 ('GEMA45',),
 ('GEMA70',),
 ('MAMF15',),
 ('TEK210',)]

j) What are the names of these courses, and how many credits do they give?

In [60]:
%%sql
select course_name, credits
from courses
where course_code in (select course_code
                            from taken_courses
                            where ssn = '910101-1234')

Done.

[('Datorer och datoranvändning', 3.0),
 ('Konstruktion av inbyggda system, fördjupningskurs', 7.5),
 ('C-programmering', 3.0),
 ('Algoritmer, datastrukturer och komplexitet', 5.0),
 ('Datorbaserade mätsystem', 7.5),
 ('Digitalteknik', 9.0),
 ('Datasäkerhet', 7.5),
 ('Digitala och analoga projekt', 7.5),
 ('Avancerad webbsäkerhet', 4.0),
 ('Avancerad datasäkerhet', 7.5),
 ('Elektromagnetisk fältteori', 9.0),
 ('Signalbehandling - design och implementering', 7.5),
 ('Medicinsk signalbehandling', 7.5),
 ('IC-projekt 1', 7.5),
 ('Datorkommunikation', 4.5),
 ('Kösystem', 4.5),
 ('Programvarutestning', 7.5),
 ('Ingenjörsprocessen för programvaruutveckling - metodik', 5.0),
 ('Introduktion till Kinas samhällsliv, kultur och språk', 3.0),
 ('Introduktionskurs i kinesiska för civilingenjörer', 15.0),
 ('Multispektral avbildning', 7.5),
 ('Fysik', 11.0),
 ('Olinjära dynamiska system, projektdel', 3.0),
 ('Linjär algebra', 6.0),
 ('Endimensionell analys', 15.0),
 ('Matematik - System och transformer', 7.0),
 ('Matematisk statistik, allmän kurs', 9.0),
 ('Markovprocesser', 7.5),
 ('Linjär och logistisk regression', 7.5),
 ('Stationär och icke-stationär spektralanalys', 7.5),
 ('Flervariabel reglering', 7.5),
 ('Förståelse och lärande', 3.0),
 ('Japanska för tekniker', 15.0),
 ('Arbetsorganisation och ledarskap', 6.0),
 ('Kognition', 4.5)]

k) How many credits has the student taken?

In [61]:
%%sql
select sum(credits)
from courses
where course_code in (select course_code
                            from taken_courses
                            where ssn = '910101-1234')

Done.

[(249.5,)]

l) Which is the student’s grade average (arithmetic mean, not weighted) on the courses?

In [62]:
%%sql
select sum(grade)/count(grade)
from taken_courses
where ssn = '910101-1234'

Done.

[(4,)]

m) Same questions as in questions i)–l), but for the student Eva Alm. [26]

In [93]:
%%sql
select course_code, course_name, credits, sum(credits)
from courses
where course_code in (select course_code
                      from taken_courses, students
                      where first_name like 'Eva' and last_name like 'Alm' and taken_courses.ssn like students.ssn)

Done.

[('TEK280', 'Teknikstödd kommunikation', 7.5, 181.0)]

n) Which students have taken 0 credits? [11]

In [113]:
%%sql
select first_name, last_name
from students
where ssn not in (select ssn
from taken_courses
group by ssn)

Done.

[('Anna', 'Nyström'),
 ('Caroline', 'Olsson'),
 ('Bo', 'Ek'),
 ('Erik', 'Andersson'),
 ('Erik', 'Andersson'),
 ('Johan', 'Lind'),
 ('Filip', 'Persson'),
 ('Jonathan', 'Jönsson'),
 ('Magnus', 'Hultgren'),
 ('Joakim', 'Hall'),
 ('Henrik', 'Gustavsson')]

o) Which students have the highest grade average? Advice: define and
   use a view that gives the social security number and grade average
   for each student.

In [118]:
%%sql
select ssn, sum(grade)/count(grade)
from taken_courses
group by ssn
order by sum(grade)/count(grade)

Done.

[('850208-1213', 3),
 ('850706-2762', 3),
 ('880620-2564', 3),
 ('881030-2772', 3),
 ('881110-1272', 3),
 ('890103-1256', 3),
 ('891021-1287', 3),
 ('891106-1277', 3),
 ('891231-2554', 3),
 ('900528-1540', 3),
 ('910707-3787', 3),
 ('911212-1746', 3),
 ('920514-3433', 3),
 ('920921-2499', 3),
 ('921029-1995', 3),
 ('931128-1333', 3),
 ('940825-1934', 3),
 ('941003-1225', 3),
 ('950714-2190', 3),
 ('951122-1048', 3),
 ('850819-2139', 4),
 ('860206-1065', 4),
 ('860323-1071', 4),
 ('860819-2864', 4),
 ('861103-2438', 4),
 ('870915-2742', 4),
 ('880322-3951', 4),
 ('890621-3057', 4),
 ('890622-1928', 4),
 ('890820-2496', 4),
 ('900206-3735', 4),
 ('900227-2369', 4),
 ('900526-1450', 4),
 ('900918-3999', 4),
 ('901030-1895', 4),
 ('910101-1234', 4),
 ('910226-3409', 4),
 ('910308-1826', 4),
 ('910915-2068', 4),
 ('911020-3538', 4),
 ('920308-3854', 4),
 ('920623-3258', 4),
 ('920812-1857', 4),
 ('920906-3371', 4),
 ('921222-2113', 4),
 ('930420-2833', 4),
 ('930502-2040', 4),
 ('930702-3582', 4),
 ('930716-3933', 4),
 ('930804-3050', 4),
 ('931015-1271', 4),
 ('931208-3605', 4),
 ('931213-2824', 4),
 ('940318-2373', 4),
 ('940801-2971', 4),
 ('940802-3861', 4),
 ('950317-3520', 4),
 ('950705-2308', 4),
 ('950715-2090', 4),
 ('950830-2637', 4),
 ('951004-2346', 4)]

p) List the social security number and total number of credits for all
   students. Students with no credits should be included with 0
   credits, not null. If you do this with an outer join you might want
   to use the function coalesce(v1, v2, ...); it returns the first
   value which is not null. [72]

In [ ]:
%%sql

q) Is there more than one student with the same name? If so, who are
   these students and what are their social security numbers? [7]

In [ ]:
%%sql